# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/Films.csproj.FileListAbsolute.txt
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/Debug/Films.vshost.exe.manifest
/bin/Debug/Films.vshost.exe.config
/bin/Debug/Films.vshost.exe
/bin/Debug/Films.exe.config
/bin/Release/Фильмы.xml
/bin/Release/HtmlAgilityPack.xml
/bin/Release/HtmlAgilityPack.pdb
/bin/Release/HtmlAgilityPack.dll
/bin/Release/Films.vshost.exe.manifest
/bin/Release/Films.vshost.exe.config
/bin/Release/Films.vshost.exe
/bin/Release/Films.pdb
/bin/Release/Films.exe.config
/bin/Release/Films.exe
/bin/Debug/Фильмы.xml
/bin/Debug/HtmlAgilityPack.xml
/bin/Debug/HtmlAgilityPack.pdb
/bin/Debug/HtmlAgilityPack.dll
/bin/Debug/Films.pdb
/bin/Debug/Films.exe
/.vs/Films/v14/.suo
/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Release/Films.Properties.Resources.resources
/obj/Release/Films.pdb
/obj/Release/Films.Forms.SearchForm.resources
/obj/Release/Films.Forms.MainForm.resources
/obj/Release/Films.Forms.LogForm.resources
/obj/Release/Films.Forms.EditForm.resources
/obj/Release/Films.Forms.CardForm.resources
/obj/Release/Films.Forms.CalcForm.resources
/obj/Release/Films.exe
/obj/Release/Films.csprojResolveAssemblyReference.cache
/obj/Release/Films.csproj.GenerateResource.Cache
/obj/Release/Films.csproj.FileListAbsolute.txt
/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/Films.Properties.Resources.resources
/obj/Debug/Films.pdb
/obj/Debug/Films.Forms.SearchForm.resources
/obj/Debug/Films.Forms.MainForm.resources
/obj/Debug/Films.Forms.LogForm.resources
/obj/Debug/Films.Forms.EditForm.resources
/obj/Debug/Films.Forms.CardForm.resources
/obj/Debug/Films.Forms.CalcForm.resources
/obj/Debug/Films.exe
/obj/Debug/Films.csproj.GenerateResource.Cache
/obj
